<h2><%= I18n.t 'views.users.index.title' %></h2>
<% if @users.any? %>
  <table>
    <thead>
      <tr>
     	  <th>E-mail</th>
     	  <th>Perfil</th>
     	  <th></th>
     	  <th></th>
     	  <th></th>
     	  <th></th>
   	  </tr>
    </thead>
		<tbody>
		  <% @users.each do |user| %>
       	<tr>
       		<td><%= user.email %></td>
       		<td><%= user.role %></td>
       		<td>
            <% if !user.admin? %>
              <%= button_to 'Administrador', admin_user_path(user.id) %>
            <% end %>
          </td>
       		<td>
            <% if !user.financial? %>
              <%= button_to 'Financeiro', financial_user_path(user.id) %>
            <% end %>
          </td>
       		<td>
            <% if !user.employee? %>
              <%= button_to 'Funcionário', employee_user_path(user.id) %>
            <% end %>
          </td>
       		<td>
            <% if !user.resident? %>
              <%= button_to 'Morador', resident_user_path(user.id) %>
            <% end %>
          </td>
     		</tr>
			<% end %>
		</tbody>
  </table>
<% else %>
	<p>Não existem usuários cadastrados.</p>
<% end %>
