<!DOCTYPE html>
<html>
  <head>
    <meta lang="pt-BR">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>JuruFinance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1><%= I18n.t('views.home.index.title') %></h1>
      <% end %>
      <nav>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to User.model_name.human(count: 2).titleize , users_path %> |
          <% end %>
          <%= current_user.email %> |
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <main>
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
